/* ================================================================================
  Variables globales du CSS (ex. couleurs, dimensions...)
================================================================================ */

// Couleurs
$color-dark-primary: #222831;
$color-light-primary: #f2f2f2;
$color-light-secondary: #d1d4da;
$color-neutral-primary: #fff;
$color-accent-primary: #2bb3c0;
$color-accent-secondary: #f96d00;

// Polices
$font-family-title-primary: 'Roboto', helvetica, arial, sans-serif;
$font-family-title-secondary: $font-family-title-primary;
$font-family-body: $font-family-title-primary;

// Graisses
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Tailles
$font-size-title-1: calculateRem(48px);
$font-size-title-2: calculateRem(42px);
$font-size-title-3: calculateRem(36px);
$font-size-title-4: calculateRem(32px);
$font-size-title-5: calculateRem(28px);
$font-size-title-6: calculateRem(22px);
$font-size-body: calculateRem(16px);
$font-size-smaller: calculateRem(14px);
$font-size-smallest: calculateRem(12px);

// Grille / BPs / ...
$container-max-widths: (
		sm: 540px,
		md: 720px,
		lg: 960px,
		xl: 1300px
);

$grid-breakpoints: (
		xs: 0,
		sm: 576px,
		md: 768px,
		lg: 992px,
		xl: 1400px
);

// Z-index
$z-index: (
		under: -999,
		default: 1,
		contactForm: 2,
		pageContent: 3,
		sectionCache: 5,
		overcontent: 2000,
		dropdown: 3000,
		overlay: 4000,
		modal: 5000
);

// =============== Components
// $component-state-property-size
