.player-round {
	display: flex;
	flex-direction: column;
	//justify-content: space-between;
	align-items: center;

	background-color: $color-light-primary;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid darken($color-light-primary, 3%);
}

.player-round--lighter-bg {
	background-color: lighten($color-light-primary, 5%);
	border-color: $color-light-primary;
}

.player-round__score-wrapper {
	//width: 30%;
}

.player-round__score {
	text-align: center;
	font-size: $font-size-title-4;
}

.player-round__inputs-wrapper {
	//width: calc(70% - 5px);
}

.player-round__buttons-wrapper {
	height: 38px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.player-round__input {
	text-align: center;
	margin-bottom: 5px;

	&:last-child {
		margin-bottom: 0;
	}
}

.player-round__input--error {
	@extend %input-error;
}