.players-head {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: #fff;

	-webkit-box-shadow: 0px 2px 9px 1px rgba(0,0,0,0.58);
	-moz-box-shadow: 0px 2px 9px 1px rgba(0,0,0,0.58);
	box-shadow: 0px 2px 9px 1px rgba(0,0,0,0.58);
}