.player-round {
	display: flex;
	flex-direction: column;
	//justify-content: space-between;
	align-items: center;

	background-color: $color-light-primary;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid darken($color-light-primary, 5%);

	position: relative;
}

.player-round--lighter-bg {
	background-color: lighten($color-light-primary, 5%);
	border-color: $color-light-primary;
}

.player-round__score-wrapper {}

.player-round__score {
	text-align: center;
	font-size: $font-size-title-4;
}

.player-round__inputs-wrapper {}

.player-round__buttons-wrapper {
	height: 38px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.player-round__input {
	text-align: center;
	margin-bottom: 5px;

	&:last-child {
		margin-bottom: 0;
	}
}

.player-round__input--error {
	@extend %input-error;
}

.player-round__round-number {
	position: absolute;
	left: 0;
	top: 0;

	width: 25px;
	height: 25px;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #fff;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
}